.starWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  filter: url(#round);
}

.star {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  width: 45px;
  min-height: 45px;
  max-width: 45px;
  color: #274540;
  border: solid 1px black;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );

  &_score_ {
    height: auto;
    width: auto;
  }
}

.styled_big_score{
  display: flex;
  width: auto;
  color: #274540;
  justify-content: center;
  padding: 5px 0 5px 0;
  border-radius: 15px;
}
