body {
  margin: 0;
  padding: 0;
  background-color: #274540;
  font-family: "Balsamiq Sans", cursive;
  background: url(./assetsDino/cloud-bg.png) no-repeat center;
  background-size: cover;
}

.dinoPage {
  border-radius: 50px 50px 0 0;
  color: white;
  height: 100vh;
}